body {
  background-color: black;  
}

h1 {
    text-transform: uppercase;
    font-size: 3rem;
}

.poster {                /* used with div to create a box */
    width: 50%;
    margin-left: 25%;     /* rough center */

    margin-top: 100px;    /* space from the top */

    color: white;

    font-family: "Libre Baskerville", serif; /* requires link to google fonts in index */
    text-align: center;
}

.motivation-img {          
    border: 5px solid white;
    width: 100%;        /* fill entire div box */
}

